.card-skill{
    width: 200px;
    height: 300px;
    position: relative;
    transition: all 0.5s ease;

    // Mobile
    @media (max-width: 662px){
        height: 60px;
        width: 250px;
    }

    .card-skill__front,
    .card-skill__back{
        width: 100%;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        transition: transform 1s;
    }
    .card-skill__front{
        background-color: $colorCard;
        border-radius: 10px;
        padding-top: 60px;
        padding-bottom: 54px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
        border-radius: 10px;
        transform: perspective(600px) rotateY(0deg);
        z-index: 2;

        // Mobile
        @media (max-width: 662px) {
            column-gap: 15px;
            justify-content: center;
            flex-direction: row;
            padding-top: 14px;
            padding-bottom: 14px;
        }
    }
    .card-skill__back{
        background-color: $colorBackside;
        transform: perspective(600px) rotateY(180deg);
        position: absolute;
        border-radius: 25px;
        backdrop-filter: blur(5px);
        display: flex;
        align-items: center;
        justify-content: center;

    }

    /* Mobile */
    @media (max-width: 662px) {
        flex-direction: row;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 32px;
        padding-right: 12px;
        min-width: 285px;
        column-gap: 20px;
        
        .skill-img--html{
            fill: #FC490B;
        }
        .skill-img--css{
            fill: #2196F4;
        }
        .skill-img--js{
            fill: #FFDF00;
        }
        .skill-img--scss{
            fill: #CA669B;
        }
        .skill-img--git{
            fill:#F25234;
        }
        .context-button--html{
            border-color:#FC490B;
            box-shadow: 0px 0px 4px 1px #FC490B,inset 0px 0px 4px 1px #FC490B;
        }
        .context-button--css{
            border-color: #2196F4;
            box-shadow: 0px 0px 4px 1px #2196F4,inset 0px 0px 4px 1px #2196F4;
        }
        .context-button--js{
            border-color: #FFDF00;
            box-shadow: 0px 0px 4px 1px #FFDF00,inset 0px 0px 4px 1px #FFDF00;
        }
        .context-button--scss{
            border-color: #CA669B;
            box-shadow: 0px 0px 4px 1px #CA669B,inset 0px 0px 4px 1px #CA669B;
        }
        .context-button--git{
            border-color:#F25234;
            box-shadow: 0px 0px 4px 1px #F25234,inset 0px 0px 4px 1px #F25234;
        }
    }

    .skill-img{
        transition: fill 0.5s;
    }

    @media (hover:hover){
        &:hover{
            .skill-img--html{
                fill: #FC490B;
            }
            .skill-img--css{
                fill: #2196F4;
            }
            .skill-img--js{
                fill: #FFDF00;
            }
            .skill-img--scss{
                fill: #CA669B;
            }
            .skill-img--git{
                fill:#F25234;
            }
            .context-button--html{
                border-color:#FC490B;
                box-shadow: 0px 0px 4px 1px #FC490B,inset 0px 0px 4px 1px #FC490B;
            }
            .context-button--css{
                border-color: #2196F4;
                box-shadow: 0px 0px 4px 1px #2196F4,inset 0px 0px 4px 1px #2196F4;
            }
            .context-button--js{
                border-color: #FFDF00;
                box-shadow: 0px 0px 4px 1px #FFDF00,inset 0px 0px 4px 1px #FFDF00;
            }
            .context-button--scss{
                border-color: #CA669B;
                box-shadow: 0px 0px 4px 1px #CA669B,inset 0px 0px 4px 1px #CA669B;
            }
            .context-button--git{
                border-color:#F25234;
                box-shadow: 0px 0px 4px 1px #F25234,inset 0px 0px 4px 1px #F25234;
            }
            }
        
    }



    }
    
    .card-skill__holder-img {
        width: 128px;
        /* Mobile */
        @media (max-width: 662px) {
            height: 32px;
            width: 32px;
            flex-shrink: 0;
        }



    svg{
        margin: 0 auto;

    }

}

.card-skill.active{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(0deg) !important;
    min-width: 500px;
    min-height: 400px;
    z-index: 4;


    .card-skill__front{
        transform: perspective(600px) rotateY(-180deg);
        
    }
    .card-skill__back{
        transform: perspective(600px) rotateY(0deg);
    }

    // Mobile
    @media (max-width: 662px){
        min-width: 90%;
        padding: 0;
    }
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.5s ease-in;

    &:hover{
        transform: rotate(360deg);
    }
}

.fade-block {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(3, 121, 255, 0.701);
    z-index: 3;
    transition: 0.5s;

    &.open {
        top: 0;
    }
}
.card-skill__description{
    width: 80%;
    text-align: center;
}


