.context-button {
    padding-left: 10px;
    padding-right: 10px;
    color: #FFF;
    font-size: 32px;
    font-family: Arial;
    font-weight: 400;
    border: 2px solid transparent;
    border-radius: 5px;
    min-width: 153px;
    transition: border-color 0.5s;
}
