.wrapper-context-link{
    text-align: center;
}
.context-link{
    padding: 0 20px;
    border-radius: 4px;
    color: $colorText;
    background-color: $colorButton;
    line-height: 39px;
    font-size: 14px;   
    font-weight: 500;
}
.social-link{
    display: flex;
}
.social-link__description{
    
}