.social-list {
    display: flex;
    width: 384px;
    column-gap: 48px;
    flex-wrap: wrap;
    row-gap: 25px;
    
    @media (max-width: 768px){
        flex-direction: column;
        align-items: center;
    }

    /* Mobile */
    @media (max-width: 662px) {
        flex-direction: column;
        align-items: center;
        
    }
}
.social-list__item {
    &:nth-child(3){
        min-width: 204px;
    }

    /* Mobile */
    @media (max-width: 662px) {
        min-width: 204px;
        &:first-child{
            order: 1;
        }
        &:nth-child(3){
            order: 2;
        }
        &:nth-child(2){
            order: 3;
        }
        &:last-child{
            order: 4;
        }
    }
}
.social-link{
    font-size: 24px;
}
.social-link:hover{
    color: $colorTitle;
    .color-svg{
        fill: $colorTitle;
    }
    .color-svg-stroke{
        stroke: $colorTitle;
    }
}
.social-link__img{
    margin-right: 16px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

