.wrapper-main-title {
    margin-bottom: 13px;
}
.main-title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.05;
    color: $colorTitle;
}
.wrapper-main-subtitle {
    margin-bottom: 14px;
}
.main-subtitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.05;
}
.context-title{
    color: #0377FF;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.05;
}
.wrapper-context-title{
    text-align: center;
    margin-bottom: 32px;
}
.wrapper-footer-title{
    margin-bottom: 16px;
}