.footer {
    .logo{
        margin-bottom: 16px;
    }
    padding-top: 64px;
    padding-bottom: 64px;
}
.footer__content {
    display: flex;
    column-gap: 64px;
    justify-content: center;
}
.footer__description {
    width: 213px;
}
.footer__text {
    font-size: 20px;
    line-height: 1.1;
}
.footer__contacts {

}
.wrapper-footer-title {
    
}
.logo--footer{
    margin-bottom: 16px;
}