.header{
    padding-top: 21px;
    padding-bottom: 21px;

    // Tablet
    @media (max-width: 1423px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
.header__content {
    display: flex;
    justify-content: center;
    column-gap: 522px;
    
    // Tablet
    @media (max-width:1243px){
        flex-direction: column;
        column-gap: 0;
        align-items: center;
        row-gap: 28px;
    }
}
.header__menu{
}
.header__menu-list{
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.05;  
    column-gap: 64px;

    // li:not(:last-child){
    //     margin-right: 64px;
    // }
}
// /* Tablet */
