.header{
    padding-top: 21px;
    padding-bottom: 21px;
}
.header__content {
    display: flex;
    justify-content: center;
    column-gap: 522px;
}
.header__menu{
}
.header__menu-list{
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.05;  
    column-gap: 64px;

    // li:not(:last-child){
    //     margin-right: 64px;
    // }
}