.header{
    padding-top: 21px;
    padding-bottom: 21px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    
    .wrapper-logo{
        z-index: 2;
    }

    // Tablet
    @media (max-width: 1423px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .container{
        /* Mobile */
        @media (max-width: 662px) {
            display: none;
            padding-top: 21px;
            padding-bottom: 21px;
        }
    }
}
.header__content {
    display: flex;
    justify-content: center;
    column-gap: 522px;
    
    // Tablet
    @media (max-width:1243px){
        flex-direction: column;
        column-gap: 0;
        align-items: center;
        row-gap: 28px;
    }
}
.header__menu{
}
.header__menu-list{
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.05;  
    column-gap: 64px;

    
}
// /* Tablet */
