.my-works {
    padding-top: 64px;
    padding-bottom: 64px;
}
.my-works__content {

}
.my-work__row-cards {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    
    /* Tablet */
    @media (max-width: 1243px) {
        flex-direction: column;
        row-gap: 16px;
        align-items: center;
    }
}