.my-skills {
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
}
.my-skills__content {
}

.my-skills__row-cards {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    
    /* Mobile */
    @media (max-width: 662px) {
        flex-direction: column;
        align-items: center;
    }
}
