.my-skills {
    padding-top: 64px;
    padding-bottom: 64px;
}
.my-skills__content {
}

.my-skills__row-cards {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    
    @media (max-width:1243px){
        row-gap: 16px;
        flex-wrap: wrap;
        
    }

}
