.preview {
    padding-top: 73px;
    padding-bottom: 73px;
    /* Tablet */
    @media (max-width: 1243px) {
        padding-top: 128px;
        padding-bottom: 128px;
    }

    /* Mobile */
    @media (max-width: 662px) {
        padding-top: 142px;
        padding-bottom: 142px;
    }

}

.preview__content {
    display: flex;
    column-gap: 137px;
    align-items: center;

    &>*{
        flex-shrink: 0;
    }

    /* Tablet */
    @media (max-width: 1243px) {
        flex-direction: column;
        column-gap: 0;
        align-items: center;
        row-gap: 64px;
    }
}
